/*li:nth-child(even){
  color: blue;
}*/

body {
  background-image: url("img/chevron.png");
}

div {
  background-color: white;
  padding: 30px;
  width: 30%;
  margin: 0 auto;
  border: 4px solid #6f3662;
  border-radius: 25px;
  margin-top: 30px;
  }

  li {
    text-align: left;
    font-size: .75em;
    list-style: none;
  }

  /*li input[type="checkbox"] {

      text-align: left;
      font-size: .75em;
      list-style: none;
    }*/

  h1 {
    text-align: center;
  }

section {
  text-align: left;
}

input {
  width: 90%;
}
